{% extends 'mainapp/base.html' %}

{% block content %}
<body>
    <h1>Напишите нам!</h1>
    <form action="">
        Имя <input type="text" placeholder="Ваше имя"> <br>
        E-mail <input type="email" placeholder="name@mail.ru"> <br>
        Тема <input type="text" placeholder="Тема"> <br>
        <textarea cols="30" rows="10"></textarea> <br>
        <button type="submit">Сохранить</button>
        <button type="reset">Удалить</button>
    </form>
    <h1>Наш адрес</h1>
    <p>Телефон: +7 (987)654-32-11 <br>
        Адрес: РФ, г. Вагоностроитель, ул. Вагоностроительная, д. 666, офис 13 <br>
        email: vagons@vagons.com
    </p>
    <!--    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adcd0c0a45e6df4c87fd617fd8715fb8b81c1caad4cb6978090cf8da3c1e0b02c&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>-->
</body>
{% endblock %}

