{% extends 'mainapp/base.html' %}

{% block content %}
<body>
<h1>Электронный магазин &laquo;Вагончик&raquo;</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet assumenda voluptatem quaerat modi ullam ipsum
    expedita, debitis natus, similique ab, inventore. Est fugiat, vitae sed quidem quibusdam eius eligendi, asperiores
    dolores facilis nobis blanditiis quia inventore velit sint nihil quis error nemo excepturi. Dolorum repellendus
    atque quasi quis, incidunt qui error, eligendi deleniti, at, eum molestias! Corporis in nihil earum similique minima
    officiis sit, totam repudiandae ab eaque, accusamus commodi doloremque illum excepturi voluptatibus veniam adipisci
    magni consequuntur quae assumenda modi deleniti error, illo ut! Reprehenderit blanditiis similique expedita,
    nesciunt ipsum, animi obcaecati exercitationem libero, quisquam, rerum hic porro facere.</p>
</body>
{% endblock %}